@import "../abstracts/variables";

$link-size: 1.5rem;

#footer {
  width: 100vw;
  padding: 10rem 0 0;
  background: $footer-bg;

  > .wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: $wrapper-maxWidth;

    @media (max-width: $extra-large) {
      zoom: 0.9;
    }

    @media (max-width: $high-medium) {
      zoom: 0.8;
    }

    > .top {
      width: 100%;
      display: flex;
      justify-content: space-evenly;

      @media (max-width: $low-medium) {
        flex-direction: column;
        align-items: center;
      }

      > .address {
        display: flex;
        flex-direction: column;
        max-width: 300px;

        @media (max-width: $high-medium) {
          max-width: 250px;
        }

        @media (max-width: $low-medium) {
          max-width: none;
          width: 80%;
          margin: 5rem 0 0;
        }

        > .heading {
          margin: 0 0 2rem;

          > h3 {
            font-size: 2.2rem;
            font-family: $rob_light;
            font-weight: 600;
            letter-spacing: 3px;
            color: #fff;
          }
        }

        > p {
          font-family: $lib_light;
          margin-bottom: 20px;
          font-size: 1.7rem;
          letter-spacing: 1px;
          color: #6e7275;

          > span {
            font-size: 1.4rem;
            font-family: $lib_light;
            margin-right: 1rem;
            color: #e7e7e7;
          }

          > a {
            font-size: $link-size;
            font-family: $lib_light;
            color: #6e7275;
            word-spacing: 5px;
            line-height: 2.3rem;
            letter-spacing: 1px;

            &:hover {
              color: #fff;
            }
          }
        }
      }

      > .quick-links {
        width: 30%;
        max-width: 250px;

        @media (max-width: $low-medium) {
          max-width: none;
          width: 80%;
          margin: 5rem 0 0;
        }

        > .heading {
          margin: 0 0 2rem;

          > h3 {
            font-size: 2.2rem;
            font-family: $rob_light;
            font-weight: 600;
            letter-spacing: 3px;
            color: #fff;
          }
        }

        > .flex {
          display: flex;
          justify-content: space-between;

          > .left {
            display: flex;
            flex-direction: column;

            > a {
              font-size: $link-size;
              font-family: $lib_light;
              color: #6e7275;
              word-spacing: 5px;
              letter-spacing: 1px;
              margin: 0 0 10px;

              &:hover {
                color: #fff;
              }
            }
          }
        }
      }

      > .gallery {

        @media (max-width: $low-medium) {
          margin: 5rem 0;
          max-width: none;
          width: 80%;
        }

        > .heading {
          margin: 0 0 2rem;

          > h3 {
            font-size: 2.2rem;
            font-family: $rob_light;
            font-weight: 600;
            letter-spacing: 3px;
            color: #fff;
          }
        }

        > .gallery-container {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-gap: 4px;

          @media (max-width: $high-medium) {
            grid-template-columns: 1fr 1fr;
          }

          @media (max-width: $low-medium) {
            grid-template-columns: 1fr 1fr 1fr;
            zoom: 0.85;
          }

          > .image {
            position: relative;
            width: 120px;
            height: 80px;
            cursor: pointer;
            box-shadow: $normal-shadow;

            &::before {
              @include pseudo;
              width: 100%;
              height: 100%;
              background: rgba(0,0,0,0);
            }

            &:hover {

              &::before {
                background: rgba(0,0,0,0.3);
              }
            }

            > img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }

    > .bottom {
      width: 100%;
      text-align: center;
      margin: 6rem 0 0;

      > .image {

        > img {

        }
      }

      > p {
        font-size: $link-size;
        max-width: 700px;
        color: #6e7275;
        margin: 3rem auto;
      }

      > .btns {
        display: flex;
        justify-content: center;

        @media (max-width: $low-medium) {
          flex-wrap: wrap;
        }

        > .f {
          background: #3b5998;
        }

        > .t {
          background: #1da1f2;
        }

        > .g {
          background: #dd4b39;
        }

        > .l {
          background: #0077b5;

          > img {
            margin-bottom: 3px;
          }
        }

        > .i {
          background: #e8486b;
        }

        > a {
          position: relative;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          font-size: 1.5rem;
          margin: 0 .4rem;
          padding: 7px 13px;
          border-radius: 4px;
          box-shadow: $normal-shadow;

          @media (max-width: $low-medium) {
            margin-top: 10px;
          }

          &::before {
            @include pseudo;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0);
          }

          &:hover {
            &::before {
              background: rgba(0,0,0,0.3);
            }
          }

          > img {
            height: 16px;
            margin-right: .5rem;
          }
        }
      }

      > .btn-to-top {
        margin: 4rem 0;
        display: inline-block;
        transform: rotateZ(180deg);
        background: #6e7275;
        padding: 5px;
        border-radius: 6px;
        box-shadow: $normal-shadow;

        &:hover {
          box-shadow: $normal-hover-shadow;
        }

        > img {
          height: 3rem;
        }
      }

    }
  }


  > .copyright {
    width: 100%;
    text-align: center;
    padding: 3rem 0;
    letter-spacing: 1px;
    background: #16232d;
    > p {
      font-size: 1.4rem;
      color: #6e7275;
    }
  }
}